@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <label>Username:</label>
    <input type="text" name="username" required />
    <br />
    <label>Password:</label>
    <input type="password" name="password" required />
    <br />
    <input type="submit" value="Log in" />
}

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

