<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProductDBEntities" connectionString="metadata=res://*/ProductDataModel.csdl|res://*/ProductDataModel.ssdl|res://*/ProductDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-N2I3AAU\SQLEXPRESS;initial catalog=ProductDB;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>